.selectedPage {
	font-weight: bold;
	color: black;
	background-color: white;
}

.paginator {
	display: inline;
	margin-top: 20px;
}

.paginator a {
	padding: 5px;
	margin-left: 2px;
	margin-bottom: 120px;
	border: 1px solid white;
}

.paginator a:hover {
	color: black;
}