.wrapper {
	background-color: blue;
	overflow-x: hidden;
	max-width: 1000px;
}
.ava {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}




.selectedPage {
	font-weight: bold;
	font-size: 110%;
}














