/*Body*/
.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  'h h'
  'n c'
  ;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #DC143C;
  color: white;
}

